<nav>
  <a [routerLink]="['/products']"><img src="assets/logo.jpg" alt="Logo" class="logo-img" /></a>

  <div class="menu-toggle" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </div>

  <ul class="nav-items" [class.active]="menuActive">
    <li><a [routerLink]="['/products']">Inicio</a></li>
    <ng-container *ngIf="isAdmin && isLoggedIn">
      <li><a [routerLink]="['/table']">Productos</a></li>
    </ng-container>
    <li><a (click)="excel()">Excel</a></li>
    <li><a [routerLink]="['/novedades']">Novedades</a></li>
    
    <ng-container *ngIf="!isLoggedIn">
      <li><a [routerLink]="['/login']" class="pi pi-user-plus"></a></li>
    </ng-container>

    <ng-container *ngIf="isLoggedIn">
      
      <li><a (click)="logout()" class="pi pi-sign-out"></a></li>
       
    </ng-container>

    <li *ngIf="isLoggedIn">
      <a [routerLink]="['/carrito']" class="pi pi-shopping-cart" style="position: relative;">
        <span *ngIf="hasItemsInCart" class="cart-badge"></span>
      </a>
    </li>
  </ul>
</nav>
