<div class="password-reset-container">
    <h2>Restablecer Contraseña</h2>
    
    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Correo electrónico</label>
        <input
          id="email"
          type="email"
          formControlName="email"
          pInputText
          placeholder="Ingresa tu correo"
          class="email-input"
        />
      </div>
  
      <button
        type="submit"
        pButton
        label="Enviar"
        class="send-button"
        [disabled]="resetForm.invalid"
        (click)="reset()"
      ></button>
    </form>
  
    <button
      type="button"
      pButton
      label="Volver al Login"
      class="back-to-login-button"
      (click)="goToLogin()"
    ></button>
  
  
  </div>
  